.header{
  display: flex;
  align-items: center;
  height: 7rem;
  @include minMobile{
    padding: 0 2rem;
  }
  &__logo{
    @include prefix(transform, translate3d(0, 0, 0));
    @include prefix(transition, all .5s ease-in-out);
    margin: 0 auto;
    font-size: 2rem;
    @include mobileLandscape{
      font-size: 3rem;
    }
    @include minMobile{
      margin: 0;
    }
  }
}