.header{
  display: flex;
  align-items: center;
  height: 7rem;
  padding-top: 1rem;
  @include minMobile{
    padding: 1rem 2rem;
  }
  @include mobileLandscape{
    padding: 0 2rem;
  }
  &__logo{
    @include prefix(transform, translate3d(0, 0, 0));
    @include prefix(transition, all .5s ease-in-out);
    margin: 0 auto;
    font-size: 2rem;
    @include mobileLandscape{
      font-size: 3rem;
    }
    @include minMobile{
      margin: 0;
    }
    @include tablet{
      font-size: 3rem;
    }
    @include desktopHigh{
      font-size: 3vw;
    }
  }
  &__sub{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    @include minMobile{
      flex-direction: column;
    }
  }
}