.locations{
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  position: relative;
  &__container{
    display: flex;
    transform: translate3d(22.5%,0,0);
    transition: transform .5s ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  &__city{
    width: 55%;
    flex: 0 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: .3rem;
    &--name{
      font-weight: bold;
    }
    &--country{
      font-size: 1.3rem;
    }
  }
  &__country{
    display: flex;
    overflow: hidden;
    &--list{
      display: flex;
      width: 100%;
      p{
        margin: 0;
        width: 100%;
        flex: 0 0 auto;
        text-align: center;
        opacity: 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        letter-spacing: .3rem;
        font-weight: bold;
      }
    }
  }
}

.active-country{
  -webkit-animation: fadeIn .5s ease-in-out forwards;
  -o-animation: fadeIn .5s ease-in-out forwards;
  animation: fadeIn .5s ease-in-out forwards;
}