.locations {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
  @include desktop {
    width: 40%;
  }
  @include tablet{
    width: 100%;
  }
  @include mobileLandscape {
    width: 100%;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    @include prefix(transform, translate3d(22.5%, 0, 0));
    @include prefix(transition, transform .5s ease-in-out);
    cursor: pointer;
    @include prefix(user-select, none);
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }

  &__city {
    width: 55%;
    flex: 0 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: .3rem;
    @include mobileLandscape {
      width: 75%;
    }
    &--name {
      display: inline-block;
      font-weight: bold;
      opacity: .5;
      @include prefix(transition, all .5s ease-in-out);
      @include desktop {
        opacity: 0;
      }
      @include tablet{
        font-size: 10vw;
      }
      @include mobileLandscape{
        opacity: .5;
        @include prefix(animation, unset);
        font-size: 5vw;
      }
    }

    &--country {
      font-size: 1.3rem;
    }
  }

  &__country {
    display: flex;
    overflow: hidden;

    &--list {
      display: flex;
      width: 100%;

      p {
        margin: 0;
        width: 100%;
        flex: 0 0 auto;
        text-align: center;
        opacity: 0;
        @include prefix(transition, all .5s ease-in-out);
        letter-spacing: .3rem;
        font-weight: bold;
      }
    }
  }
  &__nav{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-around;
    @include mobileLandscape{
      display: flex;
    }
    @include desktop{
      display: flex;
    }
    span{
      display: flex;
      height: 50%;
      width: 6%;
      border-radius: 50%;
      position: relative;
      z-index: 3;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      @include prefix(transition, all .3s ease-in-out);
      &:active{
        background-color: rgba($color-white, .2);
      }
      &:nth-child(1){
        svg{
          @include prefix(transform, rotate(180deg));
        }
      }
      @include desktop {
        width: 8%;
      }
    }
    &--arrow{
      height: 3rem;
      width: 3rem;
      opacity: 0;
      fill: $color-white;
      margin: auto;
      @include prefix(animation, fadeIn .5s .3s ease-in-out forwards);
    }
  }
}

.active-country {
  @include prefix(animation, fadeIn .5s ease-in-out forwards);
}

.active-city {
  span {
    opacity: 1;
  }
}