.weather{
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include desktop{
    flex-direction: row;
    width: 70%;
    background-color: rgba($color-white, .1);
    height: 20%;
    flex: unset;
  }
  @include tabletHigh{
    width: 100%;
    height: 30%;
  }
  @include mobileLandscape{
    flex-direction: row;
    background-color: rgba($color-white, .1);
    width: 100%;
    flex: 1;
    align-items: center;
  }
  &__main{
    display: flex;
    flex-direction: column;
    min-height: 40%;
    margin-bottom: 25%;
    @include tablet{
      margin-bottom: 10%;
    }
    @include desktop{
      margin: 0;
      width: 40%;
    }
    @include mobileLandscape{
      min-width: 30%;
      margin: 0;
    }
    &--temp{
      font-size: 25vh;
      margin: 0;
      text-align: center;
      @include desktop{
        font-size: 10vh;
      }
      @include tabletHigh{
        font-size: 20vh;
      }
      @include mobileLandscape{
        font-size: 10rem;
      }
    }
    &--sum{
      letter-spacing: .3rem;
      padding-left: 3rem;
      @include tablet{
        font-size: 5rem;
      }
      @include tabletHigh{
        font-size: 2vw;
      }
      @include mobileLandscape{
        font-size: 1.2rem;
      }
    }
  }
  &__secondary{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 2rem;
    position: relative;
    @include mobileLandscape{
      padding-bottom: 2rem;
      align-items: center;
    }
    @include tabletHigh{
      align-items: center;
    }
    &:after{
      content: "";
      position: absolute;
      top: -20%;
      left: 5%;
      height: 1px;
      width: 90%;
      background-color: rgba($color-white, .3);
      @include tablet{
        display: inline-block;
      }
      @include mobileLandscape{
        display: none;
      }
      @include desktop{
        display: none;
      }
    }
    &--field{
      display: flex;
      flex-basis: 30%;
      flex-direction: column;
      margin-top: 0;
      @include desktop{
        flex-basis: 20%;
      }
      span{
        min-height: 4rem;
        @include mobileLandscape{
          min-height: 3rem;
        }
        @include desktop{
          min-height: 3rem;
        }
      }
    }
  }
}

.field{
  &-title{
    text-transform: capitalize;
    letter-spacing: .2rem;
    @include tablet{
      font-size: 3rem;
    }
    @include mobileLandscape{
      font-size: 1.6rem;
    }
    @include tabletHigh{
      font-size: 3rem;
    }
  }
  &-num{
    font-size: 3.5rem;
    font-weight: 500;
    @include tablet{
      font-size: 7rem;
    }
    @include mobileLandscape{
      font-size: 3.5rem;
    }
    @include tabletHigh{
      font-size: 7rem;
    }
  }
  &-symbol{
    font-weight: 500;
    @include tablet{
      font-size: 2rem;
    }
    @include mobileLandscape{
      font-size: 1.6rem;
    }
    @include tabletHigh{
      font-size: 2rem;
    }
  }
}