.search{
  &__input{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    input{
      padding: 1rem;
      padding-left: 4rem;
      border-radius: 2rem;
      border: 1px solid black;
      &:focus{
        outline: none;
      }
    }
  }
  &__list{
    position: absolute;
    top: 90%;
    left: 8%;
    background-color: white;
    z-index: 2;
    width: 80%;
    padding: 0 1rem;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .5);
  }
  &__result{
    display: flex;
    border-bottom: 1px solid #eee;
    color: $color-black;
  }
  &__icon{
    position: absolute;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    top: 1%;
    left: 4%;
    display: inline-block;
    svg{
      height: 4rem;
      width: 4rem;
      fill: $color-white;
    }
  }
}