.date {
  padding: 1rem;
  font-weight: bold;
  letter-spacing: .2rem;
  opacity: 0;
  font-size: 1.2rem;
  @include prefix(animation, fadeIn .5s ease-in-out forwards);
  @include  tablet{
    font-size: 2rem;
  }
  @include desktop{
    margin-top: 5rem;
  }
  @include mobileLandscape{
    margin: 0;
    font-size: 1.2rem;
  }
  &__time{
    margin-right: 2.5rem;
    position: relative;
    @include minMobile{
      margin-right: 5rem;
    }
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: -2.2rem;
      height: .2rem;
      width: 2rem;
      background-color: $color-white;
      border-radius: 20%;
      @include minMobile{
        right: -4rem;
        width: 3rem;
      }
    }
  }
}