//fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");

$font-primary: "Montserrat", sans-serif;
// colors
$color-primary: #181818;
$color-secondary: #08FDD8;
$color-tritiary: #F122B3;

$color-white: #fff;
$color-black: #000;
$color-warning: #ff0000;
// Spacing



// breakpoints

$desktop-bp: 1024px;
$tablet-bp: 769px;
$mobileS-bp: 320px;
$mobileM-bp: 375px;
$mobileL-bp: 480px;
$mobileVL-bp: 815px;
$landscape-bp: 800px;