//fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");

$font-primary: "Montserrat", sans-serif;
// colors
$color-primary: #05204A;

$color-white: #fff;
$color-black: #000;
$color-warning: #ff0000;
// Spacing



// breakpoints

$desktop-bp: 1024px;
$tablet-bp: 769px;
$mobileS-bp: 320px;
$mobileM-bp: 375px;
$mobileL-bp: 480px;
$mobileVL-bp: 815px;
$landscape-bp: 800px;

//media mixins

@mixin mobileLandscape {
  @media (min-width: $mobileL-bp) and (max-width: $mobileVL-bp) and (orientation: landscape){
    @content;
  }
}
@mixin tablet{
  @media (max-width: $tablet-bp) and (min-width: $mobileL-bp){
    @content;
  }
}
@mixin desktop {
  @media (min-width: $tablet-bp){
    @content;
  }
}
@mixin minMobile {
  @media (min-width: $mobileL-bp){
    @content;
  }
}
@mixin desktopHigh{
  @media (min-width: $desktop-bp){
    @content;
  }
}
